// 这是body到其他路由的样式设置
#@{project-prefix} {
  position: relative;
}

@light_main: #158a4c;
@dark_main: pink;

:root {
  --auto-color: #aaa;
  --scroll-color: #f2f2f2;
  --shadow-color: #f0f0f0;
  --border-color: rgba(33, 33, 33, 0.03);
  --border-color-deep: rgba(33, 33, 33, 0.2);
  --primary-color: @light_main;
  --text-color: #666;
  --text-color-active: #333;
  --bg-nav: #fff;
  --bg-nav-active: #fafafa;
  --mask-bg: rgba(244,244,244,0.3);
  --bg: #fff;
  --o-bg: rgba(255, 255, 255, 0.4);
  --h-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --auto-color: #999;
    --scroll-color: #666;
    --shadow-color: #0e0e0f;
    --border-color: rgba(222, 222, 222, 0.03);
    --border-color-deep: rgba(222, 222, 222, 0.2);
    --primary-color: @dark_main;
    --text-color: #999;
    --text-color-active: #eee;
    --bg-nav: #1e1e22;
    --bg-nav-active: #1a1a1d;
    --mask-bg: rgba(0,0,0,0.3);
    --o-bg: rgba(0, 0, 0, 0.4);
    --bg: #18191a;
    --h-color: #eee;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --auto-color: #aaa;
    --scroll-color: #f2f2f2;
    --shadow-color: #f0f0f0;
    --border-color: rgba(33, 33, 33, 0.03);
    --border-color-deep: rgba(33, 33, 33, 0.2);
    --primary-color: @light_main;
    --text-color: #666;
    --text-color-active: #333;
    --bg-nav: #fff;
    --bg-nav-active: #fafafa;
    --mask-bg: rgba(244,244,244,0.3);
    --bg: #fff;
    --o-bg: rgba(255, 255, 255, 0.4);
    --h-color: #333;
  }
}

body {
  transition: padding 0.3s, background-color 0.3s;
}

.react-next-wrapper {
  height: 100vh;
  overflow: auto;
  background: var(--bg);
  perspective: none;
  &.perspective {
    perspective: 12000px;
    transition: all 0.3s;
    .react-next-content {
      transform: translateX(-10px);
    }
  }
}

#dw-react-web-container {
  padding: 15px 15px;
}

.react-next-content {
  width: 100%;
  max-width: @container-width;
  margin: 0 auto;
  transition: background-color 0.3s, transform 0.3s;
  padding-bottom: 60px;
  transform-origin: -15px -15px;
  a {
    cursor: pointer;
  }
}
