// 这是body到其他路由的样式设置
#@{project-prefix} {
  position: relative;
}

// 主色调
@light_main: rgb(34, 180, 124);
@dark_main: pink;

// 阴影
@light-shadow-color: #f0f0f0;
@dark-shadow-color: #0e0e0f;

// 边框色
@light-border-color: rgba(33, 33, 33, 0.03);
@dark-border-color: rgba(222, 222, 222, 0.03);

// 深一点的边框色
@light-border-color-deep: rgba(33, 33, 33, 0.2);
@dark-border-color-deep: rgba(222, 222, 222, 0.2);

// 文字颜色
@light-text-color: #e0e0e0;
@dark-text-color: #cfcfcf;

// 文字高亮颜色
@light-text-color-active: rgb(198, 252, 223);
@dark-text-color-active: rgb(243, 209, 209);

// 背景色
// @light-bg: #fff;
@dark-bg: #111213;

@br: 6px;

@light-bg: rgba(225, 235, 245, 0.2);
@dark-bg: rgba(17, 18, 19, 0.3);

@light-code-bg: rgba(66, 77, 88, 0.7);
@dark-code-bg: rgba(17, 18, 19, 0.7);

// 遮罩层背景色
@light-mask-bg: rgba(244,244,244,0.2);
@dark-mask-bg: rgba(0,0,0,0.3);

// 注册透明
@primary-opacity-light: rgba(34, 180, 124, 0.522);
@primary-opacity-dark: rgba(255, 192, 203, 0.522);

:root {
  --shadow-color: @light-shadow-color;
  --border-color: @light-border-color;
  --border-color-deep: rgba(33, 33, 33, 0.2);
  --primary-color: @light_main;
  --text-color: @light-text-color;
  --text-color-active: @light-text-color-active;
  --mask-bg: @light-mask-bg;
  --bg: transparent;
  --theme-bg: @light-bg;
  --primary-opacity-color: @primary-opacity-light;
  --br: @br;
  --code-bg: @light-code-bg;
  --mask-big-persent: 100%;
  --home-href-text: rgba(255, 255, 255, 0.66);
  --bing-opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --shadow-color: #0e0e0f;
    --border-color: @dark-border-color;
    --border-color-deep: @light-border-color-deep;
    --primary-color: @dark_main;
    --text-color: @dark-text-color;
    --text-color-active: @dark-text-color-active;
    --mask-bg: @dark-mask-bg;
    --bg: transparent;
    --theme-bg: @dark-bg;
    --primary-opacity-color: @primary-opacity-dark;
    --br: @br;
    --code-bg: @dark-code-bg;
    --mask-big-persent: 76%;
    --home-href-text: rgba(255, 255, 255, 0.66);
    --bing-opacity: 0.3;
  }
}

body {
  transition: padding 0.3s, background-color 0.3s;
  height: auto;
  overflow: auto;
  background: #010101;
  .highlight-block {
    pre {
      background-color: var(--code-bg)!important;
    }
  }
}

.react-next-wrapper {
  height: auto;
  background: var(--bg);
  perspective: none;
  min-height: 100vh;
  &.bg-bing {
    background: transparent;
  }
  &.perspective {
    perspective: 12000px;
    transition: all 0.3s;
    .react-next-content {
      transform: translateX(-10px);
    }
  }
  .page-title {
    color: var(--text-color-active);
    text-indent: 16px;
  }
}

#dw-react-web-container {
  // padding: 15px;
}

.react-next-content {
  width: 100%;
  max-width: @container-width;
  margin: 0 auto;
  transition: background-color 0.3s, transform 0.3s;
  padding-bottom: 60px;
  transform-origin: -15px -15px;
  a {
    cursor: pointer;
  }
}

// bing
.fixed-paper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  opacity: var(--bing-opacity);
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    // background: -webkit-radial-gradient(50% 50%, ellipse closest-corner, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0.8) var(--mask-big-persent));
    opacity: 1;
    // -webkit-backdrop-filter: blur(2px);
    // backdrop-filter: blur(2px);
  }
}

