
:root {
  --shadow-color: #f0f0f0;
  --border-color: rgba(33, 33, 33, 0.03);
  --primary-color: #158a4c;
  --text-color: #666;
  --text-color-active: #333;
  --bg-nav: #fff;
  --bg-nav-hover: #fafafa;
  --bg: #fff;
}

#dw-react-web-container.light {
  --auto-color: #aaa;
  --scroll-color: #f2f2f2;
  --shadow-color: #f0f0f0;
  --border-color: rgba(33, 33, 33, 0.03);
  --border-color-deep: rgba(33, 33, 33, 0.2);
  --primary-color: green;
  --text-color: #666;
  --text-color-active: #333;
  --bg-nav: #fff;
  --bg-nav-active: #fafafa;
  --mask-bg: rgba(244,244,244,0.3);
  --bg: #fff;
  --h-color: #333;
}

#dw-react-web-container.dark {
  --auto-color: #999;
  --scroll-color: #666;
  --shadow-color: #0e0e0f;
  --border-color: rgba(222, 222, 222, 0.03);
  --border-color-deep: rgba(222, 222, 222, 0.2);
  --primary-color: pink;
  --text-color: #999;
  --text-color-active: #eee;
  --bg-nav: #1e1e22;
  --bg-nav-active: #1a1a1d;
  --mask-bg: rgba(0,0,0,0.3);
  --bg: #201e1e;
  --h-color: #eee;
}

body {
  transition: padding 0.3s, background-color 0.3s;
  &.sider-s {
    padding-right: @side-warp-width - 16px;
  }
}

body.light {
  --bg: #fff;
  --bg-o: rgba(255,255,255,0.77);
  --text-color: #666;
  --text-color-active: #333;
  --shadow-color: #f0f0f0;
}

body.dark {
  --bg: #201e1e;
  --bg-o: rgb(32, 30, 30, 0.77);
  --text-color: #999;
  --text-color-active: #eee;
  --shadow-color: #0e0e0f;
}


.lineclamp (@height, @count) {
  height: @height;
  line-height: @height / @count;
  overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp: @count;
	word-wrap: break-word;
	-webkit-box-orient: vertical;
}

.textoneline(@height) when (@height = auto) {
  height: @height;
  line-height: initial;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.textoneline(@height) when (@height = height) {
  height: @height;
  line-height: @height;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// top left = > right bottom
.colortext-lt (@color1, @color2) {
	position: relative;
  background: -webkit-linear-gradient(left top, @color1 , @color2);   /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(bottom right, @color1, @color2);     /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(bottom right, @color1, @color2);   /* Firefox 3.6 - 15 */
  background: linear-gradient(to bottom right, @color1 , @color2);    /* 标准的语法 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// left = > right
.colortext-l (@color1, @color2) {
	position: relative;
  background: -webkit-linear-gradient(left, @color1 , @color2);   /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right, @color1, @color2);     /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right, @color1, @color2);   /* Firefox 3.6 - 15 */
  background: linear-gradient(to right, @color1 , @color2);    /* 标准的语法 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


// 固定底部
.fixfooterflex () {
	html{
   		height: 100%;
	}

	body{
	    display: flex;
	    flex-direction: column;
	    min-height: 100%;
	    font-family: "Hiragino Sans GB","Century Gothic",system, Arial, Verdana, Tahoma,"微软雅黑";
	    position: relative;
	    width: 100%;
	    overflow-x: hidden;
	}

	header{
		/* 我们希望 header 采用固定的高度，只占用必须的空间 */
		/* 0 flex-grow, 0 flex-shrink, auto flex-basis */
		flex: 0 0 auto;
	}

	.main_content{
		/* 将 flex-grow 设置为1，该元素会占用所有的可使用空间
		而其他元素该属性值为0，因此不会得到多余的空间*/
		/* 1 flex-grow, 0 flex-shrink, auto flex-basis */
		flex: 1 1 auto;
		background-color: #fff;
		position:relative;
	}

	footer{
		/* 和 header 一样，footer 也采用固定高度*/
		/* 0 flex-grow, 0 flex-shrink, auto flex-basis */
		flex: 0 0 auto;
	}
}


// 色值

// 主色调
.mixinPrimaryColor() {
	color: var(--primary-color);
}

.mixinPrimaryBg() {
	background: var(--primary-color);
}

// 文字颜色
.mixinTextColor() {
	color: var(--text-color);
}

// 主色调
.mixinTextColorActive() {
	color: var(--text-color-active);
}

// 菜单的背景
.mixinBgNav() {
	background-color: var(--bg-nav);
}

// 菜单的背景hover
.mixinBgNavActive() {
	color: var(--primary-color);
	background-color: var(--bg-nav-active);
}

// 主背景
.mixinBg() {
	background-color: var(--bg);
}

/* 项目名 */
@project-prefix: dw-react-web;

@main-prefix: ~"@{project-prefix}-main";
@home-prefix: ~"@{project-prefix}-home";
@music-prefix: ~"@{project-prefix}-music";
@blog-prefix: ~"@{project-prefix}-blog";
@setting-prefix: ~"@{project-prefix}-setting";


@nav-height: 64px;

@container-width: 768px;
@container-music-width: 1080px;
@container-music-list-width: 1080px;

@z-index-nav: 28;

@raduis: 8px;

@side-warp-width: 280px;

// z-index
@sider-warp-z-index: 118;
@nav-z-index: 28;
@notice-z-index: 50;
@audio-z-index: 120;
@audio-lyric-index: 119;
@rank-type-list-z-index: 29;

// component 颜色
@primary-color: #32adff;
@primary-color-low: #e1f1fb;
@primary-color-deep: #03111b;

@error-color: #cc5555;
@error-color-low: #f8e7e7;
@error-color-deep: #1d0808;

@warning-color: #FFCC33;
@warning-color-low: #fbf4da;
@warning-color-deep: #1d1706;

@success-color: #69d38c;
@success-color-low: #e1fae9;
@success-color-deep: #080808;

@default-color: #aaaaaa;
@default-color-low: #f0efef;
@default-color-deep: #2f2f2f;


// 这是body到其他路由的样式设置
#@{project-prefix} {
  position: relative;
}

.dw-page-router {
  width: @container-width;
  margin: 0 auto;
  padding: 40px 5px 15px 5px;
  min-height: calc(100vh - @nav-height);
  .mixinTextColor();
}

.@{project-prefix}-music {
  width: @container-music-width;
  position: relative;
}

#dw-react-web-container {
  // .mixinBg();
  background: transparent;
  margin-top: @nav-height;
  height: calc(100vh - @nav-height);
  overflow: auto;
  transition: background-color 0.3s;
  a {
    cursor: pointer;
  }
}
