.@{project-prefix}-comp-sider-warp {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 111;
  .memu {
    fill: var(--text-color);
    width: 16px;
    height: 16px;
    z-index: 111;
  }
  &.fixed {
    .mask {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--mask-bg);
      z-index: @sider-warp-z-index;
    }
  }
  .mask {
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
  }
  .content {
    position: fixed;
    width: @side-warp-width;
    right: 0;
    transform: translate3d(100%, 0, 0);
    border: -10px 10px 10px 0 var(--border-color);
    top: 0;
    bottom: 0;
    transition: transform 0.3s;
    z-index: @sider-warp-z-index + 1;
    box-sizing: border-box;
    .wrapper {
      height: 100%;
      overflow: auto;
      color: var(--text-color);
    }
    &-switch {
      position: fixed;
      top: 15px;
      left: -40px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: @sider-warp-z-index + 1;
    }
  }
  &.auto {
    .content {
      top: @nav-height;
      z-index: @nav-z-index - 1;
    }
  }
  &.show {
    &.fixed {
      .mask {
        opacity: 1;
        visibility: visible;
      }
    }
    .content {
      transform: translate3d(0, 0, 0);
    }
  }
}
