@tip-height: 28px;
.@{project-prefix}-home {
  padding: 16px;
  color: var(--home-href-text);
  .home-tip {
    margin: 30px 0;
  }
  .tip-lists {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    .href-tip {
      width: auto;
      line-height: @tip-height;
      border-radius: 14px;
      font-size: 14px;
      background: rgba(244, 244, 244, 0.2);
      display: inline-block;
      transition: all 0.3s;
      cursor: pointer;
      margin: 10px 10px;
      display: inline-flex;
      align-items: center;
      &:hover {
        background: rgba(244, 244, 244, 0.3);
      }
      span {
        display: flex;
        align-items: center;
        height: @tip-height;
      }
      .inner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: @tip-height;
      }
    }
  }

  p {
    text-align: center;
  }

  a, a:active, a:hover, a:focus {
    text-decoration: none;
    color: var(--home-href-text);
  }

  a {
    padding: 0 12px;
  }
}

.react-next-web-nav-home .nav-content .nav-logo .nav-title {
  color: var(--home-href-text);
}
