.@{project-prefix}-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @nav-height;
  z-index: @z-index-nav;
  overflow: hidden;
  // .mixinBgNav();
  background: transparent;
  box-shadow: 1px 1px 25px 0 var(--shadow-color);
  transition: background-color , color, box-shadow 0.3s;
  .nav-content {
    width: @container-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    .nav-logo {
      flex: 0 0 150px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .nav-title {
        cursor: default;
        font-size: 26px;
        color: var(--primary-color);
        font-weight: 400;
        transition: color 0.3s;
        margin: 0;
      }
    }
  }
}
